/*

CSS File TOC
------------------------

1. CSS Reset
2. Common
3. Header
4. Contents
   4.1  Main Panel
   4.2  Sidebar Panel

*/



/*========================*/
/*===  1. CSS Reset    ===*/
/*========================*/


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}


/*========================*/
/*===  2. Common       ===*/
/*========================*/

body {
    font-family: Arial, Helvetica, sans-serif;
    color:#100c00;
    background: #3b3c3e url(../images/bg-pattern.jpg);
    color:#fff;
}

#wrapper {
	width:850px;
	margin:0 auto;
	padding:0px 40px;
}

img {
	border:none;
}

p {
	width:90%;
    font-size:11px;
    text-align:justify;
    line-height:20px;
    padding:0;
}

h1 {
	font-size:50px;
	text-align:left;
	float:left;
	font-weight:bold;
    color:#ffffff;
    font-family:"Humnst777 Blk BT";
}

h2 {
	font-size:40px;
	text-align:left;
	font-weight:bold;
	line-height:50px;
    color:#425430;
    font-family:"Humnst777 BT";
}

h3 {
	font-size:20px;
	text-align:left;
	line-height:25px;
	font-weight:bold;
    color:#ffffff;
    font-family: Helvetica, sans-serif;
    text-shadow: 1px 1px 1px black;
}

h5 {
	font-size:18px;
	text-align:left;
	line-height:35px;
	text-indent:0px;
    color:#80C465;
    font-weight:normal;
    text-shadow: 1px -1px 1px black;
    font-family: Helvetica, sans-serif;
    font-weight:normal;
}

h6 {
	font-size:14px;
	text-align:left;
	line-height:22px;
	padding:0;
	margin:0;
    font-family:Tahoma, Geneva, sans-serif;
    color:#a4a4a4;
    font-weight:normal;
}

a {
    color:#718C44;
    text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

@font-face {
    font-family:"Humnst777 Blk BT";
    src: url(../font/Hum777k.ttf);
}

@font-face {
    font-family:"Humnst777 BT";
    src: url(../font/Hum777Bd.ttf);
}

ul {
	list-style:none;
}

li {
	list-style:none;
	line-height:18px;
	font-size:11px;
	margin-bottom:9px;
}


.clearfix {
	visibility:hidden;
	clear:both;
	height:0;
}

.bold {
	font-weight:bold;
}

/*========================*/
/*===  3. Header       ===*/
/*========================*/

header {
	width:100%;
	height:149px;
	margin:0 auto;
	line-height:35px;
    background-image:url(../images/bg-header.png);
}

.headerwrapper {
	width:850px;
	display:block;
	margin:0 auto;
	padding:36px 0px 0px 0px;
	height:113px;
	margin:0 auto;
}

/*===========================*/
/*===  4. Contents        ===*/
/*===  4.1 Main Panel     ===*/
/*===========================*/

#contents {
	width:100%;
	padding: 50px 0px 70px 0px;
}

#main {
	width:475px;
	float:left;
}

.section {
	width:100%;
	float:left;
	padding:0px 0px 0px 0px;
}

.work_item {
	width:100%;
	float:left;
	padding:25px 0px 25px 0px;
}

.points {
    padding-left: 15px;
}

.points li {
    list-style: circle;
}

.year {
	font-size:12px;
	text-align:left;
	float:right;
	padding-top:6px;
}

/*===========================*/
/*===  4.2 Sidebar Panel  ===*/
/*===========================*/

#sidebar {
	width:260px;
	float:left;
	margin-left:94px;
}

.contact_Info_items {
	width:100%;
	float:left;
	padding:15px 0px 25px 0px;
}

.contact_Info_items ul {
	list-style:none;
}

.contact_Info_items ul li {
	list-style:none;
	line-height:18px;
	font-size:12px;
    margin-bottom:12px;
}

.contact_Info_items ul li a {
    padding-left: 15px;
}

.education_items {
	width:100%;
	float:left;
	padding:15px 0px 25px 0px;
}

.skills {
	float:left;
	width:130px;
	padding:15px 0px 25px 0px;
}

.skills ul {
	float:left;
	list-style:none;
}

.skills ul li {
	float:left;
	display:block;
	clear:both;
	line-height:15px;
	padding:0;
	margin:0;
	line-height:23px;
	list-style:none;
}

.award {
	width:100%;
	padding:15px 0px 25px 0px;
}

.my_best_work {
	width:270px;
	padding:15px 0px 25px 0px;
}

.gallery li {
	display:inline;
}

.gallery li {
	padding-right:10px;
}

.education_items h6, .references h6 {
    color:#fff;
}
li {
    font-family:Tahoma, Geneva, sans-serif;
}
p {
    font-family:Tahoma, Geneva, sans-serif;
}
.year {
    color:#a4a4a4;
}

#fivehundredpx {
    background-color: #444;
}

.printed {
    display:none;
}