/**css reset**/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body {
  color: #000;
  font-family: Tahoma, Arial;
}

#wrapper {
  width: 850px;
  margin: 0 auto;
  padding: 0px 40px;
}

img {
  border: none;
}

p {
  font-size: 11px;
  width: 90%;
  text-align: justify;
  line-height: 20px;
  padding: 0;
}

h1 {
  font-size: 50px;
  text-align: left;
  float: left;
  font-weight: bold;
}

h2 {
  font-size: 40px;
  text-align: left;
  font-weight: bold;
  line-height: 50px;
}

h3 {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  text-align: left;
  line-height: 25px;
  font-weight: bold;
}

h5 {
  font-size: 18px;
  text-align: left;
  line-height: 35px;
  font-weight: bold;
  text-indent: 0px;
}

h6 {
  font-size: 14px;
  text-align: left;
  line-height: 22px;
  padding: 0;
  margin: 0;
  color: #545454;
}

a {
  color: #000;
}

ul {
  list-style: none;
}

li {
  list-style: none;
  line-height: 18px;
  font-size: 11px;
  margin-bottom: 9px;
}

.clearfix {
  visibility: hidden;
  clear: both;
  height: 0;
}

.year {
  font-size: 12px;
  text-align: left;
  float: right;
  padding-top: 6px;
  color: #545454;
}

.headerwrapper {
  width: 850px;
  display: block;
  margin: 0 auto;
  padding: 36px 0px 0px 0px;
  height: 113px;
  margin: 0 auto;
}

#main {
  width: 475px;
  float: left;
}

#contents {
  width: 100%;
  padding: 75px 0px 70px 0px;
}

.section {
  width: 100%;
  float: left;
  padding: 0px 0px 0px 0px;
}

.work_item {
  width: 100%;
  float: left;
  padding: 25px 0px 25px 0px;
}

.points {
  padding-left: 15px;
}

.points li {
  list-style: circle;
}

.contact_Info_items ul li a {
  padding-left: 15px;
  padding-top: 15px;
}

.education_items {
  width: 100%;
  float: left;
  padding: 15px 0px 25px 0px;
}

.skills {
  float: left;
  width: 130px;
  padding: 15px 0px 25px 0px;
}

.skills ul {
  float: left;
  list-style: none;
}

.skills ul li {
  float: left;
  display: block;
  clear: both;
  padding: 0;
  margin: 0;
  line-height: 23px;
  list-style: none;
}

.award {
  width: 100%;
  padding: 15px 0px 25px 0px;
}

#sidebar {
  width: 260px;
  float: left;
  margin-left: 94px;
}

#activities {
  padding-top: 35px;
}

.education_items h6, .references h6 {
  color: #000;
}

.education_items p {
  color: #414143
}

.website {
  display: none;
}

.printed {
  display: list-item;
}

#selected-works {
  display: none;
}
