---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>{{ site.name }}</title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="robots" content="index,follow"/>

    <link rel="stylesheet" href="css/default.css" media="screen"/>
    <link rel="stylesheet" href="css/print.css" media="print"/>
    <link rel="stylesheet" href="css/font-icons.css">

    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23752726-1']);
      _gaq.push(['_setDomainName', 'lukekorth.com']);
      _gaq.push(['_trackPageview']);

      (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>

    <header>
    <div class="headerwrapper">
      <h1>{{ site.name }}</h1>
      <div class="clearfix"></div>
      <h2>Mobile and Web Application Engineer</h2>
    </div>
    </header>

    <div id="wrapper">
      <section id="contents">
      <div id="main">
        <div class="section tldr">
          <h5>{{ site.data.preface.title }}</h5>
          <p class="medium_text">{{ site.data.preface.text }}</p>
        </div>

        <div class="section">
          <h5>Work Experience</h5>

          {% for item in site.data.experience %}
          {% include work-item.html %}
          {% endfor %}

        </div>

        <div class="section">
          <h5>Freelance</h5>

          {% for item in site.data.freelance %}
          {% include work-item.html %}
          {% endfor %}

        </div>
      </div>

      <aside id="sidebar">
      <div class="section">
        <h5>Contact Information</h5>

        <div class="contact_Info_items">
          <ul>
            {% for item in site.data.contact %}
            <li {% if item.type != null %}class="{{ item.type }}"{% endif %}>
            <i class="{{ item.icon }}"></i>
            <a {% if item.event != null %}onClick="{{ item.event }}"{% endif %} href="{{ item.link }}">{{ item.text }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="section">
        <h5>Education</h5>

        {% for item in site.data.education %}
        <div class="education_items">
          <h6 class="bold">{{ item.title }}</h6>
          <p>{{ item.org }}</p>
          <p>{{ item.date }}</p>
          <p>{{ item.gpa }}</p>
          <p>{{ item.info }}</p>
        </div>
        {% endfor %}
      </div>

      <div class="clearfix"></div>

      <div class="section">
        <h5>Skills</h5>

        <div class="skills">
          <ul>
            {% for skill in site.data.skills %}
            {% if forloop.index <= forloop.rindex %}
            <li>{{ skill }}</li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
        <div class="skills">
          <ul>
            {% for skill in site.data.skills %}
            {% if forloop.index > forloop.rindex %}
            <li>{{ skill }}</li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="section">
        <h5>Awards</h5>

        <div class="award">
          <ul>
            {% for award in site.data.awards %}
            <li title="{{ award.year }}">{{ award.name }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div id="activities" class="section">
        <h5>Activities</h5>

        <div class="award">
          <ul>
            {% for activity in site.data.activities %}
            <li title="{{ activity.year }}">{{ activity.name }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="section" id="selected-works">
        <h5>Photography</h5>

        <div class="my_best_work">
          <ul class="gallery">
            {% for photo in site.data.photography %}
            <li>
            <a href="{{ photo.link }}" onClick="openPhotoswipe({{ forloop.index0 }}); return false;">
              <img width="76" height="76" src="{{ photo.link }}" alt="{{ photo.alt }}" />
            </a>
            </li>
            {% endfor %}

            <li>
            <a target="_blank" href="http://500px.com/LukeKorth" alt="Link to 500px profile">
              <img width="76" height="76" id="fivehundredpx" src="images/500px.png"/>
            </a>
            </li>

          </ul>
        </div>
      </div>
      </aside>

      </section>

    </div>

    {% include photoswipe.html %}

    <link rel="stylesheet" href="css/photoswipe.css" media="screen">
    <link rel="stylesheet" href="css/photoswipe-skin.css" media="screen">
    <script src="js/photoswipe.min.js"></script>
    <script src="js/photoswipe-ui.js"></script>
    <script>
      function openPhotoswipe(index) {
        var items = [
          {% for photo in site.data.photography %}
          {
            src: '{{ photo.link }}',
            w: {{ photo.width }},
            h: {{ photo.height }}
          },
          {% endfor %}
        ];

        var options = {
          index: index
        };

        var gallery = new PhotoSwipe(document.querySelectorAll('.pswp')[0], PhotoSwipeUI_Default, items, options);
        gallery.init();
      }
    </script>
  </body>
</html>
